@using System.Web.Configuration
@model SofthemeClassBooking_BOL.Contract.Models.IClassRoom

@{
    ViewBag.Title = Model.Name;
}

@section stylesDeclarationInHeader {
    @Styles.Render("~/bundles/styles/plan")
}

@section scriptDeclarationInHeader
{
    @Scripts.Render("~/bundles/scripts/roompage")
}

<div style="position: relative;">

    <div id="plan-section" class="plan-section">
        <div id="plan-loading">
            <div class="plan-loading-section">
                <div>Загрузка плана этажа...</div>
                <div>
                    <img src="~/Content/images/gif/ajax-loader.gif" />
                </div>
            </div>
        </div>
    </div>

    @if (User.IsInRole(WebConfigurationManager.AppSettings["UserRoleAdmin"]))
    {
        <div class="plan-room-edit-buttons-position ">
            <div class="plan-room-edit-buttons">
                @if (@Model.IsLocked)
                {
                    <button id="plan-room-edit-open" class="plan-room-edit-buttons-up">@Localization.ButtonOpen</button>
                }
                else
                {
                    <button id="plan-room-edit-close" class="plan-room-edit-buttons-up">@Localization.ButtonClose</button>
                }
                <button id="plan-room-edit-change" class="plan-room-edit-buttons-down">@Localization.ButtonEdit</button>
            </div>
        </div>
    }

</div>


<div class="roompage-calendar-header noselect-text">
    <i id="roompage-before-day" class="fa fa-caret fa-caret-left" aria-hidden="true"></i>
    <div id="roompage-date" class="text"></div>
    <i id="roompage-next-day" class="fa fa-caret fa-caret-right" aria-hidden="true"></i>  
</div>

<div class="roompage-calendar noselect-text">
    <div class="tableWrap">
        <table>
            <tr id="roompage-calendar-header" class="roompage-calendar-header">

            </tr>

            <tr class="roompage-calendar-body">
                <td class="roompage-cell-1 time9">09:00</td>
                <td class="roompage-cell-2 time9"></td>
                <td class="roompage-cell-3 time9">09:00</td>
                <td class="roompage-cell-4"></td>
                <td></td>
                <td class="roompage-cell-6">09:00</td>
                <td class="roompage-cell-7"></td>
                <td class="roompage-cell-8">09:00</td>
            </tr>
            <tr class="roompage-calendar-body">
                <td class="roompage-cell-1"></td>
                <td class="roompage-cell-2">10:00</td>
                <td class="roompage-cell-3"></td>
                <td class="roompage-cell-4">10:00</td>
                <td></td>
                <td class="roompage-cell-6"></td>
                <td class="roompage-cell-7">10:00</td>
                <td class="roompage-cell-8"></td>
            </tr>
            <tr class="roompage-calendar-body">
                <td class="roompage-cell-1">11:00</td>
                <td class="roompage-cell-2"></td>
                <td class="roompage-cell-3">11:00</td>
                <td class="roompage-cell-4"></td>
                <td></td>
                <td class="roompage-cell-6">11:00</td>
                <td class="roompage-cell-7"></td>
                <td class="roompage-cell-8">11:00</td>
            </tr>
            <tr class="roompage-calendar-body">
                <td class="roompage-cell-1"></td>
                <td class="roompage-cell-2">12:00</td>
                <td class="roompage-cell-3"></td>
                <td class="roompage-cell-4">12:00</td>
                <td></td>
                <td class="roompage-cell-6"></td>
                <td class="roompage-cell-7">12:00</td>
                <td class="roompage-cell-8"></td>
            </tr>

            <tr class="roompage-calendar-body">
                <td class="roompage-cell-1">13:00</td>
                <td class="roompage-cell-2"></td>
                <td class="roompage-cell-3">13:00</td>
                <td class="roompage-cell-4"></td>
                <td></td>
                <td class="roompage-cell-6">13:00</td>
                <td class="roompage-cell-7"></td>
                <td class="roompage-cell-8">13:00</td>
            </tr>
            <tr class="roompage-calendar-body">
                <td class="roompage-cell-1"></td>
                <td class="roompage-cell-2">14:00</td>
                <td class="roompage-cell-3"></td>
                <td class="roompage-cell-4">14:00</td>
                <td></td>
                <td class="roompage-cell-6"></td>
                <td class="roompage-cell-7">14:00</td>
                <td class="roompage-cell-8"></td>
            </tr>

            <tr class="roompage-calendar-body">
                <td class="roompage-cell-1">15:00</td>
                <td class="roompage-cell-2"></td>
                <td class="roompage-cell-3">15:00</td>
                <td class="roompage-cell-4"></td>
                <td></td>
                <td class="roompage-cell-6">15:00</td>
                <td class="roompage-cell-7"></td>
                <td class="roompage-cell-8">15:00</td>
            </tr>
            <tr class="roompage-calendar-body">
                <td class="roompage-cell-1"></td>
                <td class="roompage-cell-2">16:00</td>
                <td class="roompage-cell-3"></td>
                <td class="roompage-cell-4">16:00</td>
                <td></td>
                <td class="roompage-cell-6"></td>
                <td class="roompage-cell-7">16:00</td>
                <td class="roompage-cell-8"></td>
            </tr>

            <tr class="roompage-calendar-body">
                <td class="roompage-cell-1">17:00</td>
                <td class="roompage-cell-2"></td>
                <td class="roompage-cell-3">17:00</td>
                <td class="roompage-cell-4"></td>
                <td></td>
                <td class="roompage-cell-6">17:00</td>
                <td class="roompage-cell-7"></td>
                <td class="roompage-cell-8">17:00</td>
            </tr>
            <tr>
                <td class="roompage-cell-1"></td>
                <td class="roompage-cell-2">18:00</td>
                <td class="roompage-cell-3"></td>
                <td class="roompage-cell-4">18:00</td>
                <td></td>
                <td class="roompage-cell-6"></td>
                <td class="roompage-cell-7">18:00</td>
                <td class="roompage-cell-8"></td>
            </tr>

            <tr class="roompage-calendar-body">
                <td class="roompage-cell-1">19:00</td>
                <td class="roompage-cell-2"></td>
                <td class="roompage-cell-3">19:00</td>
                <td class="roompage-cell-4"></td>
                <td></td>
                <td class="roompage-cell-6">19:00</td>
                <td class="roompage-cell-7"></td>
                <td class="roompage-cell-8">19:00</td>
            </tr>
            <tr>
                <td></td>
                <td id="roompage-now">Сегодня</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>



<script type="text/javascript">

    classRoomDialogWindow = new DialogWindow ({
        title: '@Localization.DialogCancelRoomTitle',
        bodyMessage: '@Localization.DialogCancelRoomBody' });

    currentClassRoom = new ClassRoom(@Model.Id, '@Model.IsLocked');
    classRoomDialogWindow.setDialogAnswerNoHandler(cancelCloseClassRoom);
    classRoomDialogWindow.setDialogAnswerYesHandler(closeClassRoom);

    isUserAdmin = '@User.IsInRole(WebConfigurationManager.AppSettings["UserRoleAdmin"])';


    (function ($, window, document) {

        $(function () {

            loadRoomPagePlanSection();
            roompageCalendarInit();
        });
    }(window.jQuery, window, document));

</script>