@section stylesDeclarationInHeader {
    @Styles.Render("~/bundles/styles/plan")
}

<div id="plan-section" class="plan-section">
    <div id="plan-loading">
        <div class="plan-loading-section">
            <div>@Localization.LoadingPlanSection...</div>
            <div>
                <img src="~/Content/images/gif/ajax-loader.gif" alt="loader" />
            </div>
        </div>
    </div>
</div>


<div id="roomevent-section" style="margin-left: 126px; padding-top: 25px;">
    <div id="roomevent-loading">
        <div class="roomevent-loading-section">
            <div>@Localization.LoadingRoomEventSection...</div>
            <div>
                <img src="~/Content/images/gif/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>


<div id="map-section">
    <div id="map-loading">
        <div class="plan-loading-section">
            <div>@Localization.LoadingMapSection...</div>
            <div>
                <img src="~/Content/images/gif/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    // IIFE - Immediately Invoked Function Expression
    (function ($, window, document) {

        $(function () {
            console.log(ajaxUrl);
            // The DOM is ready!
            renderPlanSection();
            renderMapSection();
            renderRoomEventSection();

            setStandartPlanRoomEventHandlers();
            //setNavigarionEventHandlers();

        });



        // The rest of the code goes here!
    }(window.jQuery, window, document));
    // The global jQuery object is passed as a parameter


</script>

@section scriptDeclarationAfterFooter {
    @Scripts.Render("~/bundles/scripts/jqueryval")
    @Scripts.Render("~/bundles/scripts/map")
}