@using PagedList.Mvc
@using System.Web.Security;
@model PagedList.IPagedList<SofthemeClassBooking.Models.ApplicationUser>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section stylesDeclarationInHeader
{
    @Styles.Render("~/bundles/styles/users")
}

<div></div>
<p id="users-title">
    @Localization.AccountUserList
</p>
<p id="users-list-count">@Localization.Total:  @Model.Count</p>
<div id="users">
    <table>

        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.UserName
                    @Html.Action("UserIsAdmin", "Login", new { user })
                </td>
                <td>
                    @user.Email


                </td>
                <td>
                    <img src="~/Content/images/calendar.png" />  &nbsp;23
                </td>
                <td>
                    <img src="~/Content/images/DeleteUser.png" />
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>